@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-bg: #ffffff;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto;
}

/* micro adjustments to better match pixel spacing */
.container-center {
  max-width: 1030px;
}
